@model AdventureWorks2014.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonType" class="control-label"></label>
                <select asp-for="PersonType" class="form-control">
                    <option value="">Select One</option>
                    <option value="EM">EM</option>
                    <option value="IN">IN</option>
                    <option value="SP">SP</option>
                    <option value="SC">SC</option>
                    <option value="VC">VC</option>
                    <option value="GC">GC</option>
                </select>
                <span asp-validation-for="PersonType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameStyle" class="control-label"></label>
                <input asp-for="NameStyle" class="form-control" />
                <span asp-validation-for="NameStyle" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suffix" class="control-label"></label>
                <input asp-for="Suffix" class="form-control" />
                <span asp-validation-for="Suffix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailPromotion" class="control-label"></label>
                <input asp-for="EmailPromotion" class="form-control" />
                <span asp-validation-for="EmailPromotion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalContactInfo" class="control-label"></label>
                <input asp-for="AdditionalContactInfo" class="form-control" />
                <span asp-validation-for="AdditionalContactInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demographics" class="control-label"></label>
                <input asp-for="Demographics" class="form-control" />
                <span asp-validation-for="Demographics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rowguid" class="control-label"></label>
                <input asp-for="Rowguid" value="@Guid.NewGuid().ToString().ToUpper()" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Rowguid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
