@model AdventureWorks2014.Models.Person

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessEntityId)
        </dt>
        <dt>
            @Html.DisplayFor(modelItem => modelItem.FirstName)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BusinessEntityId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
